version: '3.8'
services:


  client:
    container_name: client
    build: 
      context: .
      dockerfile: ./client/Dockerfile
    ports: 
      - 8080:8080
    volumes:
      - ./client:/client
      - node_modules:/client/node_modules
    command: bash -c "yarn install && yarn dev"
  
  api:
    container_name: api
    build: 
      context: ./api
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    env_file: ./db.env
    depends_on:
      - database
    networks: 
      - project_network

  database:
    container_name: database
    image: postgres
    volumes: 
      - ./db:/var/lib/postgresql/data
    env_file: ./db.env
    networks: 
      - project_network

networks:
  project_network:

volumes:
  node_modules:
  db:
  gems: